Redmatic-EASY-Push-Flow.json
[
    {
        "id": "6643bdfa.5a11c4",
        "type": "subflow",
        "name": "EASY Push",
        "info": "![Logo](https://www.cloudmatic.de/member/img/CloudMaticLogo.png)\n# **Redmatic EASY Push**\nSenden von Push Nachrichten an deine EASY-Smarthome APP oder Smartha App\n\n_V.0.1_\n\n_Dieser Subflow ist NUR f체r Redmatic auf einer CCU3/Raspberrymatic!_\n\n\n---\n# **Input:**\n - msg.topic = ( _Event bzw. Betreff_ )\n \n _ist msg.topic leer dann wird der Betreff aus den Properties gesetzt._\n\n - msg.payload = ( _Nachricht_ )\n\n---\nSubflow made by [Matten Matten](https://github.com/Matten-Matten/Redmatic-EASY-Push-Flow/blob/master/README.md)",
        "category": "Messenger",
        "in": [
            {
                "x": 40,
                "y": 160,
                "wires": [
                    {
                        "id": "cedd2d08.7eeda"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "Version",
                "type": "str",
                "value": "",
                "ui": {
                    "label": {
                        "en-US": "Version: 0.0.1"
                    },
                    "type": "none",
                    "opts": {}
                }
            },
            {
                "name": "API",
                "type": "str",
                "value": "XX-XXXX-XXXX-XXXX-XXXX-XXXXXXX",
                "ui": {
                    "icon": "font-awesome/fa-key",
                    "label": {
                        "en-US": "API-Key"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-info-circle",
                    "label": {
                        "en-US": "Den API-Key erh채ltst du aus der EASY App bzw. Smartha App"
                    },
                    "type": "none",
                    "opts": {}
                }
            },
            {
                "name": "TOPIC",
                "type": "str",
                "value": "Redmatic EASY Push",
                "ui": {
                    "icon": "font-awesome/fa-pencil",
                    "label": {
                        "en-US": "Betreff"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-info-circle",
                    "label": {
                        "en-US": "Ist msg.topic leer dann wird der Betreff aus den Properties gesetzt."
                    },
                    "type": "none",
                    "opts": {}
                }
            },
            {
                "name": "DEBUG",
                "type": "bool",
                "value": "false",
                "ui": {
                    "icon": "font-awesome/fa-bug",
                    "label": {
                        "en-US": "Debug"
                    },
                    "type": "checkbox",
                    "opts": {}
                }
            }
        ],
        "color": "#2B81BE",
        "inputLabels": [
            "INPUT"
        ],
        "icon": "font-awesome/fa-cloud",
        "status": {
            "x": 1340,
            "y": 320,
            "wires": [
                {
                    "id": "7bce7579.e234cc",
                    "port": 0
                },
                {
                    "id": "bcffba68.b2aa48",
                    "port": 0
                },
                {
                    "id": "5dd60472.ebc45c",
                    "port": 0
                },
                {
                    "id": "54d79af2.af83b4",
                    "port": 0
                },
                {
                    "id": "13c2ebe9.8263a4",
                    "port": 0
                },
                {
                    "id": "11436b9.7b83e94",
                    "port": 0
                },
                {
                    "id": "dd25943b.a2f6a8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "55f43729.dc99f8",
        "type": "change",
        "z": "6643bdfa.5a11c4",
        "name": "%20",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "%20",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "%20",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "1c8732c2.e265dd"
            ]
        ]
    },
    {
        "id": "ebecbfb0.ca6c9",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "zusammen",
        "func": "msg.payload = (\" ESY:\" + msg.API + \" +\" + msg.topic + \" +\" + msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 140,
        "wires": [
            [
                "aa9cc029.5d924",
                "5dd60472.ebc45c"
            ]
        ]
    },
    {
        "id": "aa9cc029.5d924",
        "type": "exec",
        "z": "6643bdfa.5a11c4",
        "command": "/bin/sh /etc/config/addons/mh/prowl.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1090,
        "y": 140,
        "wires": [
            [],
            [
                "928ec66a.97baa8"
            ],
            [
                "2ec2eaf2.4fe426"
            ]
        ]
    },
    {
        "id": "86509cd.cd9fa6",
        "type": "change",
        "z": "6643bdfa.5a11c4",
        "name": "msg.topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TOPIC",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "55f43729.dc99f8"
            ]
        ]
    },
    {
        "id": "5dd60472.ebc45c",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "Nachricht wird gesendet ...",
        "func": "msg.payload = \"Nachricht wird gesendet ...\";\nmsg.payload = {fill:\"yellow\",shape:\"ring\",text:\"Nachricht wird gesendet ...\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bcffba68.b2aa48",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "OK",
        "func": "msg.payload = {fill:\"green\",shape:\"dot\",text:\"OK\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f410def7.49c5",
        "type": "delay",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1020,
        "y": 400,
        "wires": [
            [
                "7bce7579.e234cc"
            ]
        ]
    },
    {
        "id": "7bce7579.e234cc",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "error!",
        "func": "//msg.status = {fill:\"green\",shape:\"dot\",text:\"hi\"};\nmsg.payload = {fill:\"red\",shape:\"ring\",text:\"error:\" + msg.error.message};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "14367260.34a0ee",
        "type": "switch",
        "z": "6643bdfa.5a11c4",
        "name": "DEBUG",
        "property": "DEBUG",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 200,
        "y": 40,
        "wires": [
            [
                "d8627f4e.31a33"
            ]
        ]
    },
    {
        "id": "d8627f4e.31a33",
        "type": "debug",
        "z": "6643bdfa.5a11c4",
        "name": "EASY Push Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1130,
        "y": 40,
        "wires": []
    },
    {
        "id": "cedd2d08.7eeda",
        "type": "switch",
        "z": "6643bdfa.5a11c4",
        "name": "API OK",
        "property": "API",
        "propertyType": "env",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "neq",
                "v": "XX-XXXX-XXXX-XXXX-XXXX-XXXXXXX",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "faa47015.7b066"
            ],
            [
                "2988667.da9c79a"
            ],
            [
                "f3a900f4.bb22b"
            ]
        ]
    },
    {
        "id": "54d79af2.af83b4",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "error!",
        "func": "msg.payload = {fill:\"red\",shape:\"dot\",text:\"API-Key fehlt!\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "418ebecb.733b8",
        "type": "catch",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "scope": [
            "aa9cc029.5d924"
        ],
        "uncaught": false,
        "x": 740,
        "y": 400,
        "wires": [
            [
                "f410def7.49c5"
            ]
        ]
    },
    {
        "id": "2988667.da9c79a",
        "type": "switch",
        "z": "6643bdfa.5a11c4",
        "name": "TOPIC",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "55f43729.dc99f8"
            ],
            [
                "86509cd.cd9fa6"
            ]
        ]
    },
    {
        "id": "f3a900f4.bb22b",
        "type": "link out",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "3b7dd86.40f1428"
        ],
        "x": 275,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b7dd86.40f1428",
        "type": "link in",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "f3a900f4.bb22b",
            "faa47015.7b066"
        ],
        "x": 1015,
        "y": 320,
        "wires": [
            [
                "54d79af2.af83b4"
            ]
        ]
    },
    {
        "id": "faa47015.7b066",
        "type": "link out",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "3b7dd86.40f1428"
        ],
        "x": 275,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c8732c2.e265dd",
        "type": "change",
        "z": "6643bdfa.5a11c4",
        "name": "API-Key",
        "rules": [
            {
                "t": "set",
                "p": "API",
                "pt": "msg",
                "to": "API",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "ebecbfb0.ca6c9"
            ]
        ]
    },
    {
        "id": "22ca124f.307c9e",
        "type": "inject",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "13c2ebe9.8263a4"
            ]
        ]
    },
    {
        "id": "13c2ebe9.8263a4",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "bereit",
        "func": "msg.payload = {fill:\"green\",shape:\"dot\",text:\"bereit\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "bf806aeb.6cfae8",
        "type": "switch",
        "z": "6643bdfa.5a11c4",
        "name": "code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "bcffba68.b2aa48"
            ],
            [
                "11436b9.7b83e94"
            ],
            [
                "dd25943b.a2f6a8"
            ]
        ]
    },
    {
        "id": "11436b9.7b83e94",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "error!",
        "func": "msg.payload = {fill:\"red\",shape:\"ring\",text:\"error: API Key 체berpr체fen!\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dd25943b.a2f6a8",
        "type": "function",
        "z": "6643bdfa.5a11c4",
        "name": "error!",
        "func": "msg.payload = {fill:\"red\",shape:\"ring\",text:\"error: code:\" + msg.payload.code};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cc4b557f.e517d8",
        "type": "link in",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "2ec2eaf2.4fe426"
        ],
        "x": 955,
        "y": 240,
        "wires": [
            [
                "bf806aeb.6cfae8"
            ]
        ]
    },
    {
        "id": "2ec2eaf2.4fe426",
        "type": "link out",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "cc4b557f.e517d8",
            "23b736af.c5709a"
        ],
        "x": 1335,
        "y": 160,
        "wires": []
    },
    {
        "id": "928ec66a.97baa8",
        "type": "link out",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "23b736af.c5709a"
        ],
        "x": 1335,
        "y": 120,
        "wires": []
    },
    {
        "id": "23b736af.c5709a",
        "type": "link in",
        "z": "6643bdfa.5a11c4",
        "name": "",
        "links": [
            "2ec2eaf2.4fe426",
            "928ec66a.97baa8"
        ],
        "x": 55,
        "y": 40,
        "wires": [
            [
                "14367260.34a0ee"
            ]
        ]
    },
    {
        "id": "4a0e2e5b.a029e",
        "type": "subflow:6643bdfa.5a11c4",
        "z": "e053d1f8.10c2a",
        "name": "",
        "env": [],
        "x": 930,
        "y": 2400,
        "wires": []
    }
]
